################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JSONtoCSVWPF/.vs/JSONtoCSVWPF/v16
